@import "../../abstracts/Typography/Typography.sass"

div[role="tooltip"].help-tooltip-container
  margin-bottom: 4px

  .tooltip-inner
    @include body-s
    max-width: 400px  

.help-tooltip-image
  cursor: pointer